.logo{
    margin: 0 auto;
    width: 100%;
    text-align: center;
    padding-top: 150px;
}
.search {
  align-self: center;
  justify-self: stretch;
}
.search-box {
  display: grid;
  grid-template-columns: 1fr auto 1fr;    
  margin: 10px
}
.search-box-inner {
  width: 600px;
  display: grid;
  align-items: center;
  grid-template-columns: 35px auto 35px;    
  border: 1px solid #1e1e1f;
  box-shadow: none;
  border-radius: 24px;
  height: 44px;
}
.search-box-text input {
  width: 100%;
  height: 34px;
  font: 16px;
  background-color: #f2f2f2;
  border: none;
  color: rgba(0,0,0,.87);
  outline: none;
  line-height: 34px;
  text-shadow: none;
  cursor: text;
}
.search-box-svg {
  opacity: .55;
  height: 24px;
  width: 24px;
  vertical-align: middle;
}
.buttons{
    width: 350px;
    padding-top: 30px;
    margin: 0 auto;
    text-align: center;
    
}
#google {
    font-size: 12px;
    display: block;
    float: left;
    background-color: #f2f2f2;
    padding:12px 30px;
    color: #666666;
    font-weight: bold;
    border-radius: 20px;
    border: 1px solid #1e1e1f;
  }
  #lucky {
    font-size: 12px;
    display: block;
    float: right;
    background-color: #f2f2f2;
    padding: 12px 30px;
    color: #666666;
    font-weight: bold;
    border-radius: 20px;
    border: 1px solid #1e1e1f;
  }
  #breadcrumbs li {
    list-style-type: none;
    display:inline;
    float: right;
    padding: 5px;
    font-size: 12px;
    margin: 5px;
    text-align: center;
  }
  #breadcrumbs a {
    color: #4d4d4d;
  }
  
  #breadcrumbs a:hover {
    text-decoration: underline;
  }
  .nav {
    width: 100%;
    height: 50px;
    margin: 0 auto;
  }
  .settings li {
    list-style-type: none;
    display: inline;
    padding: 10px;
    font-size: 12px;
    margin-top: 5px;
  
  }
  .settings a {
    color: #4d4d4d;
  }
  
  .settings a:hover {
    text-decoration: underline;
  }
  #ad {
    float: left;
    margin-bottom: 10px;
  }
  
  #priv {
    float: right;
    margin-bottom: 10px;
  }
  .bottom {
    border-top: solid;
    border-width: 0.1px;
    border-color: #e6e6e6;
    position: fixed;
    bottom: 0px;
    right: 5px;
    width: 100%;
    background-color: #f2f2f2;
  }
  ::placeholder{
      font-size: 15px;
  }
 